.feature-card {
  display: flex;
  width: auto;
  background: #16222a;
  border-radius: 12px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  color: #fff;
  gap: 20px;
}

.feature-icon img{
  width: 43px;
  height: 80px;
}

.feature-card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 0 20px rgba(0, 212, 255, 0.5);
}
@media screen and (max-width:800px) {
  .card-box{
    max-width: 900;
    display: flex;
    justify-content: center;
  }
  .feature-card{
    max-width: 800px;
    display: flex;
   
  }

}